In [33]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:\\Users\\KIIT\\Downloads\\Final.csv')

In [34]:
df.head(10)

,CUSTOMER_ORDER_ID,SALES_ORG,DISTRIBUTION_CHANNEL,DIVISION,RELEASED_CREDIT_VALUE,PURCHASE_ORDER_TYPE,COMPANY_CODE,ORDER_CREATION_DATE,ORDER_CREATION_TIME,CREDIT_CONTROL_AREA,SOLD_TO_PARTY,ORDER_AMOUNT,REQUESTED_DELIVERY_DATE,ORDER_CURRENCY,CREDIT_STATUS,CUSTOMER_NUMBER
0,946851639,3537,United States of America,South-Region,"0,00",1000,3220,20220101,43012,SR02,756141537,"954,61",20220113,EUR,NaN,12311807
1,963432061,3449,Martinique,South-Region,"0,00",1000,3220,20220101,43114,NR03,798847812,"787,36",20220111,EUR,NaN,12311807
2,971991639,3238,Moldova,South-Region,"82342,02",I200,3260,20220101,110019,NR01,960984659,"67493,46",20220112,EUR,93.0,12118758
3,754349803,3911,United Arab Emirates,South-Region,"1471,24",N000,3290,20220101,153013,SR02,925857642,"1405,54",20220106,EUR,93.0,1210499770
4,930253442,2381,Greece,South-Region,"0,00",N000,3290,20220101,160020,SR01,947942786,"0,00",20220106,EUR,64.0,1210351400
5,819741436,3605,Argentina,South-Region,"0,00",N250,3290,20220101,160023,NR04,787347798,"1065,33",20220107,EUR,64.0,1210124309
6,756619705,4269,Bahrain,North-Region,"1974,66",9999,59,20220102,73006,NR03,795887697,"0,00",20211231,RON,93.0,1210109233
7,881355361,3645,Armenia,North-Region,"0,00",NAAA,3470,20220102,110022,NR04,884689948,"302,85",20220106,EUR,64.0,12311152
8,821659852,2470,United States of America,South-Region,"0,00",2590,3220,20220102,130024,NR02,814096053,"8380,69",20220106,EUR,NaN,1230021722
9,957194828,3150,United States Minor Outlying Islands,South-Region,"0,00",N241,3290,20220102,133014,NR03,901859762,"545,85",20220107,EUR,64.0,1210183107

In [35]:
df.describe()

,CUSTOMER_ORDER_ID,SALES_ORG,COMPANY_CODE,ORDER_CREATION_DATE,ORDER_CREATION_TIME,SOLD_TO_PARTY,REQUESTED_DELIVERY_DATE,CREDIT_STATUS,CUSTOMER_NUMBER
count,1.101925e+06,1.101925e+06,1.101925e+06,1.101925e+06,1.101925e+06,1.101925e+06,1.101925e+06,219478.000000,1.101925e+06
mean,8.763187e+08,3.304891e+03,3.431364e+03,2.022032e+07,1.340316e+05,8.763265e+08,2.022035e+07,74.464771,1.074092e+09
std,7.088594e+07,6.958920e+02,5.483805e+02,1.426756e+02,6.503618e+04,7.090306e+07,1.751912e+03,14.444210,4.042693e+08
min,7.534520e+08,2.100000e+03,5.900000e+01,2.022010e+07,0.000000e+00,7.534518e+08,2.019081e+07,52.000000,1.210001e+07
25%,8.149522e+08,2.702000e+03,3.260000e+03,2.022021e+07,8.170200e+04,8.148366e+08,2.022022e+07,64.000000,1.230006e+09
50%,8.763963e+08,3.305000e+03,3.660000e+03,2.022032e+07,1.509540e+05,8.763542e+08,2.022033e+07,64.000000,1.230014e+09
75%,9.376832e+08,3.908000e+03,3.670000e+03,2.022042e+07,1.853580e+05,9.377293e+08,2.022050e+07,93.000000,1.230014e+09
max,9.990063e+08,4.510000e+03,4.260000e+03,2.022060e+07,2.359590e+05,9.990075e+08,2.202022e+07,93.000000,1.230025e+09

In [36]:
df.shape

(1101925, 16)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101925 entries, 0 to 1101924
Data columns (total 16 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   CUSTOMER_ORDER_ID        1101925 non-null  int64
 1   SALES_ORG                1101925 non-null  int64
 2   DISTRIBUTION_CHANNEL     1101925 non-null  object
 3   DIVISION                 1101925 non-null  object
 4   RELEASED_CREDIT_VALUE    1101925 non-null  object
 5   PURCHASE_ORDER_TYPE      1083233 non-null  object
 6   COMPANY_CODE             1101925 non-null  int64
 7   ORDER_CREATION_DATE      1101925 non-null  int64
 8   ORDER_CREATION_TIME      1101925 non-null  int64
 9   CREDIT_CONTROL_AREA      1101925 non-null  object
 10  SOLD_TO_PARTY            1101925 non-null  int64
 11  ORDER_AMOUNT             1101925 non-null  object
 12  REQUESTED_DELIVERY_DATE  1101925 non-null  int64
 13  ORDER_CURRENCY           1101925 non-null  object
 14  CREDIT_STATUS            219478 non-null   float64
 15  CUSTOMER_NUMBER          1101925 non-null  int64
dtypes: float64(1), int64(8), object(7)
memory usage: 134.5+ MB

In [39]:
df.isnull()

,CUSTOMER_ORDER_ID,SALES_ORG,DISTRIBUTION_CHANNEL,DIVISION,RELEASED_CREDIT_VALUE,PURCHASE_ORDER_TYPE,COMPANY_CODE,ORDER_CREATION_DATE,ORDER_CREATION_TIME,CREDIT_CONTROL_AREA,SOLD_TO_PARTY,ORDER_AMOUNT,REQUESTED_DELIVERY_DATE,ORDER_CURRENCY,CREDIT_STATUS,CUSTOMER_NUMBER
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101920,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False
1101921,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False
1101922,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False
1101923,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False
1101924,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False

In [40]:
null=df.isnull()
print(null)

         CUSTOMER_ORDER_ID  SALES_ORG  DISTRIBUTION_CHANNEL  DIVISION  \
0                    False      False                 False     False
1                    False      False                 False     False
2                    False      False                 False     False
3                    False      False                 False     False
4                    False      False                 False     False
...                    ...        ...                   ...       ...
1101920              False      False                 False     False
1101921              False      False                 False     False
1101922              False      False                 False     False
1101923              False      False                 False     False
1101924              False      False                 False     False

         RELEASED_CREDIT_VALUE  PURCHASE_ORDER_TYPE  COMPANY_CODE  \
0                        False                False         False
1                        False                False         False
2                        False                False         False
3                        False                False         False
4                        False                False         False
...                        ...                  ...           ...
1101920                  False                 True         False
1101921                  False                 True         False
1101922                  False                 True         False
1101923                  False                 True         False
1101924                  False                 True         False

         ORDER_CREATION_DATE  ORDER_CREATION_TIME  CREDIT_CONTROL_AREA  \
0                      False                False                False
1                      False                False                False
2                      False                False                False
3                      False                False                False
4                      False                False                False
...                      ...                  ...                  ...
1101920                False                False                False
1101921                False                False                False
1101922                False                False                False
1101923                False                False                False
1101924                False                False                False

         SOLD_TO_PARTY  ORDER_AMOUNT  REQUESTED_DELIVERY_DATE  ORDER_CURRENCY  \
0                False         False                    False           False
1                False         False                    False           False
2                False         False                    False           False
3                False         False                    False           False
4                False         False                    False           False
...                ...           ...                      ...             ...
1101920          False         False                    False           False
1101921          False         False                    False           False
1101922          False         False                    False           False
1101923          False         False                    False           False
1101924          False         False                    False           False

         CREDIT_STATUS  CUSTOMER_NUMBER
0                 True            False
1                 True            False
2                False            False
3                False            False
4                False            False
...                ...              ...
1101920           True            False
1101921           True            False
1101922           True            False
1101923           True            False
1101924           True            False

[1101925 rows x 16 columns]

In [41]:
df.isnull().sum()

CUSTOMER_ORDER_ID               0
SALES_ORG                       0
DISTRIBUTION_CHANNEL            0
DIVISION                        0
RELEASED_CREDIT_VALUE           0
PURCHASE_ORDER_TYPE         18692
COMPANY_CODE                    0
ORDER_CREATION_DATE             0
ORDER_CREATION_TIME             0
CREDIT_CONTROL_AREA             0
SOLD_TO_PARTY                   0
ORDER_AMOUNT                    0
REQUESTED_DELIVERY_DATE         0
ORDER_CURRENCY                  0
CREDIT_STATUS              882447
CUSTOMER_NUMBER                 0
dtype: int64

In [43]:
df = df.fillna(np.NaN)

In [45]:
print(df)

         CUSTOMER_ORDER_ID  SALES_ORG      DISTRIBUTION_CHANNEL      DIVISION  \
0                946851639       3537  United States of America  South-Region
1                963432061       3449                Martinique  South-Region
2                971991639       3238                   Moldova  South-Region
3                754349803       3911      United Arab Emirates  South-Region
4                930253442       2381                    Greece  South-Region
...                    ...        ...                       ...           ...
1101920          853605710       2498                   Germany  South-Region
1101921          998890898       4509                   Armenia  South-Region
1101922          983330221       3951                     Nepal  South-Region
1101923          926668029       3235                    Panama  South-Region
1101924          921701000       2968                 Nicaragua  South-Region

        RELEASED_CREDIT_VALUE PURCHASE_ORDER_TYPE  COMPANY_CODE  \
0                        0,00                1000          3220
1                        0,00                1000          3220
2                    82342,02                I200          3260
3                     1471,24                N000          3290
4                        0,00                N000          3290
...                       ...                 ...           ...
1101920                  0,00                 NaN          4260
1101921                  0,00                 NaN          4260
1101922                  0,00                 NaN          4260
1101923                  0,00                 NaN          4260
1101924                  0,00                 NaN          4260

         ORDER_CREATION_DATE  ORDER_CREATION_TIME CREDIT_CONTROL_AREA  \
0                   20220101                43012                SR02
1                   20220101                43114                NR03
2                   20220101               110019                NR01
3                   20220101               153013                SR02
4                   20220101               160020                SR01
...                      ...                  ...                 ...
1101920             20220601                74357                NR02
1101921             20220601                84052                NR04
1101922             20220601                85322                NR01
1101923             20220601                90538                SR04
1101924             20220601               113357                NR02

         SOLD_TO_PARTY ORDER_AMOUNT  REQUESTED_DELIVERY_DATE ORDER_CURRENCY  \
0            756141537       954,61                 20220113            EUR
1            798847812       787,36                 20220111            EUR
2            960984659     67493,46                 20220112            EUR
3            925857642      1405,54                 20220106            EUR
4            947942786         0,00                 20220106            EUR
...                ...          ...                      ...            ...
1101920      946056501      4415,19                 20220601            SGD
1101921      894775488         0,00                 20220601            SGD
1101922      909729781         0,00                 20220601            SGD
1101923      940836817         0,00                 20220601            SGD
1101924      754385277      4415,19                 20220601            SGD

         CREDIT_STATUS  CUSTOMER_NUMBER
0                  NaN         12311807
1                  NaN         12311807
2                 93.0         12118758
3                 93.0       1210499770
4                 64.0       1210351400
...                ...              ...
1101920            NaN       1210331804
1101921            NaN       1210331804
1101922            NaN       1210331811
1101923            NaN       1210331811
1101924            NaN       1210331804

[1101925 rows x 16 columns]

In [46]:
df["ORDER_CREATION_DATE"] = pd.to_datetime(df["ORDER_CREATION_DATE"], format="%Y%m%d")

In [48]:
df["REQUESTED_DELIVERY_DATE"] = pd.to_datetime(df["REQUESTED_DELIVERY_DATE"], format="%Y%m%d")

In [66]:
num_higher_date = (df["ORDER_CREATION_DATE"] > df["REQUESTED_DELIVERY_DATE"]).sum()
print("Number of records with order date greater than delivery date:", num_higher_date)

Number of records with order date greater than delivery date: 0

In [67]:
df = df[df["ORDER_CREATION_DATE"] <= df["REQUESTED_DELIVERY_DATE"]]
df

,CUSTOMER_ORDER_ID,SALES_ORG,DISTRIBUTION_CHANNEL,DIVISION,RELEASED_CREDIT_VALUE,PURCHASE_ORDER_TYPE,COMPANY_CODE,ORDER_CREATION_DATE,ORDER_CREATION_TIME,CREDIT_CONTROL_AREA,SOLD_TO_PARTY,ORDER_AMOUNT,REQUESTED_DELIVERY_DATE,ORDER_CURRENCY,CREDIT_STATUS,CUSTOMER_NUMBER
0,946851639,3537,United States of America,South-Region,"0,00",1000,3220,2022-01-01,43012,SR02,756141537,"954,61",2022-01-13,EUR,NaN,12311807
1,963432061,3449,Martinique,South-Region,"0,00",1000,3220,2022-01-01,43114,NR03,798847812,"787,36",2022-01-11,EUR,NaN,12311807
2,971991639,3238,Moldova,South-Region,"82342,02",I200,3260,2022-01-01,110019,NR01,960984659,"67493,46",2022-01-12,EUR,93.0,12118758
3,754349803,3911,United Arab Emirates,South-Region,"1471,24",N000,3290,2022-01-01,153013,SR02,925857642,"1405,54",2022-01-06,EUR,93.0,1210499770
4,930253442,2381,Greece,South-Region,"0,00",N000,3290,2022-01-01,160020,SR01,947942786,"0,00",2022-01-06,EUR,64.0,1210351400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101920,853605710,2498,Germany,South-Region,"0,00",NaN,4260,2022-06-01,74357,NR02,946056501,"4415,19",2022-06-01,SGD,NaN,1210331804
1101921,998890898,4509,Armenia,South-Region,"0,00",NaN,4260,2022-06-01,84052,NR04,894775488,"0,00",2022-06-01,SGD,NaN,1210331804
1101922,983330221,3951,Nepal,South-Region,"0,00",NaN,4260,2022-06-01,85322,NR01,909729781,"0,00",2022-06-01,SGD,NaN,1210331811
1101923,926668029,3235,Panama,South-Region,"0,00",NaN,4260,2022-06-01,90538,SR04,940836817,"0,00",2022-06-01,SGD,NaN,1210331811
1101924,921701000,2968,Nicaragua,South-Region,"0,00",NaN,4260,2022-06-01,113357,NR02,754385277,"4415,19",2022-06-01,SGD,NaN,1210331804

In [78]:
num1 = df["ORDER_AMOUNT"].str.contains("-", regex=False).sum()
print("Number of records with '-' in the 'ORDER_AMOUNT' field:", num1)

Number of records with '-' in the 'ORDER_AMOUNT' field: 32

In [74]:
df["ORDER_AMOUNT"] = df["ORDER_AMOUNT"].replace("-", "")

In [76]:
num2 = df["ORDER_AMOUNT"].str.contains(",", regex=False).sum()
print("Number of records with ',' in the 'ORDER_AMOUNT' field:", num2)

Number of records with ',' in the 'ORDER_AMOUNT' field: 1073406

In [95]:
df["ORDER_AMOUNT"] = df["ORDER_AMOUNT"].replace(",", ".")

In [93]:
num3= (df["ORDER_CREATION_DATE"].dt.date == df["REQUESTED_DELIVERY_DATE"].dt.date).sum()
print("Number of records where order date and delivery date are the same:", num3)

Number of records where order date and delivery date are the same: 100437

In [114]:
currency_counts = df["ORDER_CURRENCY"].value_counts()
print(currency_counts)

USD    622835
EUR    253196
AUD     64200
CAD     55065
GBP     22028
MYR     13946
PLN     11861
AED      7852
HKD      6198
CHF      5259
RON      4731
SGD      3909
CZK      2178
HU1      1377
NZD        79
BHD        32
SAR        14
QAR        12
KWD         7
SEK         4
Name: ORDER_CURRENCY, dtype: int64

In [96]:
df

,CUSTOMER_ORDER_ID,SALES_ORG,DISTRIBUTION_CHANNEL,DIVISION,RELEASED_CREDIT_VALUE,PURCHASE_ORDER_TYPE,COMPANY_CODE,ORDER_CREATION_DATE,ORDER_CREATION_TIME,CREDIT_CONTROL_AREA,SOLD_TO_PARTY,ORDER_AMOUNT,REQUESTED_DELIVERY_DATE,ORDER_CURRENCY,CREDIT_STATUS,CUSTOMER_NUMBER
0,946851639,3537,United States of America,South-Region,"0,00",1000,3220,2022-01-01,43012,SR02,756141537,95461,2022-01-13,EUR,NaN,12311807
1,963432061,3449,Martinique,South-Region,"0,00",1000,3220,2022-01-01,43114,NR03,798847812,78736,2022-01-11,EUR,NaN,12311807
2,971991639,3238,Moldova,South-Region,"82342,02",I200,3260,2022-01-01,110019,NR01,960984659,6749346,2022-01-12,EUR,93.0,12118758
3,754349803,3911,United Arab Emirates,South-Region,"1471,24",N000,3290,2022-01-01,153013,SR02,925857642,140554,2022-01-06,EUR,93.0,1210499770
4,930253442,2381,Greece,South-Region,"0,00",N000,3290,2022-01-01,160020,SR01,947942786,000,2022-01-06,EUR,64.0,1210351400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101920,853605710,2498,Germany,South-Region,"0,00",NaN,4260,2022-06-01,74357,NR02,946056501,441519,2022-06-01,SGD,NaN,1210331804
1101921,998890898,4509,Armenia,South-Region,"0,00",NaN,4260,2022-06-01,84052,NR04,894775488,000,2022-06-01,SGD,NaN,1210331804
1101922,983330221,3951,Nepal,South-Region,"0,00",NaN,4260,2022-06-01,85322,NR01,909729781,000,2022-06-01,SGD,NaN,1210331811
1101923,926668029,3235,Panama,South-Region,"0,00",NaN,4260,2022-06-01,90538,SR04,940836817,000,2022-06-01,SGD,NaN,1210331811
1101924,921701000,2968,Nicaragua,South-Region,"0,00",NaN,4260,2022-06-01,113357,NR02,754385277,441519,2022-06-01,SGD,NaN,1210331804

In [122]:
df['ORDER_AMOUNT'] = pd.to_numeric(df['ORDER_AMOUNT'], errors='coerce')

usd_exchange_rate = {
    'USD': 1.0,   
    'EUR': 1.19,  
    'AUD': 0.75,   
    'CAD': 0.81,   
    'GBP': 1.39,  
    'MYR': 0.24,  
    'PLN': 0.27,   
    'AED': 0.27, 
    'HKD': 0.13,  
    'CHF': 1.09,  
    'RON': 0.24,   
    'SGD': 0.75, 
    'CZK': 0.045,
    'HU1': 0.0036, 
    'NZD': 0.71,   
    'BHD': 2.65,   
    'SAR': 0.27,   
    'QAR': 0.27,   
    'KWD': 3.33,   
    'SEK': 0.12
}

df['amount_in_usd'] = df.apply(lambda row: row['ORDER_AMOUNT'] / usd_exchange_rate[row['ORDER_CURRENCY']] if row['ORDER_CURRENCY'] != 'USD' else row['ORDER_AMOUNT'], axis=1)
print("Updated dataframe:")
print(df)

Updated dataframe:
         CUSTOMER_ORDER_ID  SALES_ORG      DISTRIBUTION_CHANNEL      DIVISION  \
0                946851639       3537  United States of America  South-Region
1                963432061       3449                Martinique  South-Region
2                971991639       3238                   Moldova  South-Region
3                754349803       3911      United Arab Emirates  South-Region
4                930253442       2381                    Greece  South-Region
...                    ...        ...                       ...           ...
1101920          853605710       2498                   Germany  South-Region
1101921          998890898       4509                   Armenia  South-Region
1101922          983330221       3951                     Nepal  South-Region
1101923          926668029       3235                    Panama  South-Region
1101924          921701000       2968                 Nicaragua  South-Region

        RELEASED_CREDIT_VALUE PURCHASE_ORDER_TYPE  COMPANY_CODE  \
0                        0,00                1000          3220
1                        0,00                1000          3220
2                    82342,02                I200          3260
3                     1471,24                N000          3290
4                        0,00                N000          3290
...                       ...                 ...           ...
1101920                  0,00                 NaN          4260
1101921                  0,00                 NaN          4260
1101922                  0,00                 NaN          4260
1101923                  0,00                 NaN          4260
1101924                  0,00                 NaN          4260

        ORDER_CREATION_DATE  ORDER_CREATION_TIME CREDIT_CONTROL_AREA  \
0                2022-01-01                43012                SR02
1                2022-01-01                43114                NR03
2                2022-01-01               110019                NR01
3                2022-01-01               153013                SR02
4                2022-01-01               160020                SR01
...                     ...                  ...                 ...
1101920          2022-06-01                74357                NR02
1101921          2022-06-01                84052                NR04
1101922          2022-06-01                85322                NR01
1101923          2022-06-01                90538                SR04
1101924          2022-06-01               113357                NR02

         SOLD_TO_PARTY  ORDER_AMOUNT REQUESTED_DELIVERY_DATE ORDER_CURRENCY  \
0            756141537       95461.0              2022-01-13            EUR
1            798847812       78736.0              2022-01-11            EUR
2            960984659     6749346.0              2022-01-12            EUR
3            925857642      140554.0              2022-01-06            EUR
4            947942786           0.0              2022-01-06            EUR
...                ...           ...                     ...            ...
1101920      946056501      441519.0              2022-06-01            SGD
1101921      894775488           0.0              2022-06-01            SGD
1101922      909729781           0.0              2022-06-01            SGD
1101923      940836817           0.0              2022-06-01            SGD
1101924      754385277      441519.0              2022-06-01            SGD

         CREDIT_STATUS  CUSTOMER_NUMBER  amount_in_usd
0                  NaN         12311807   8.021933e+04
1                  NaN         12311807   6.616471e+04
2                 93.0         12118758   5.671719e+06
3                 93.0       1210499770   1.181126e+05
4                 64.0       1210351400   0.000000e+00
...                ...              ...            ...
1101920            NaN       1210331804   5.886920e+05
1101921            NaN       1210331804   0.000000e+00
1101922            NaN       1210331811   0.000000e+00
1101923            NaN       1210331811   0.000000e+00
1101924            NaN       1210331804   5.886920e+05

[1074783 rows x 17 columns]

In [125]:
df

,CUSTOMER_ORDER_ID,SALES_ORG,DISTRIBUTION_CHANNEL,DIVISION,RELEASED_CREDIT_VALUE,PURCHASE_ORDER_TYPE,COMPANY_CODE,ORDER_CREATION_DATE,ORDER_CREATION_TIME,CREDIT_CONTROL_AREA,SOLD_TO_PARTY,ORDER_AMOUNT,REQUESTED_DELIVERY_DATE,ORDER_CURRENCY,CREDIT_STATUS,CUSTOMER_NUMBER,amount_in_usd
0,946851639,3537,United States of America,South-Region,"0,00",1000,3220,2022-01-01,43012,SR02,756141537,95461.0,2022-01-13,EUR,NaN,12311807,8.021933e+04
1,963432061,3449,Martinique,South-Region,"0,00",1000,3220,2022-01-01,43114,NR03,798847812,78736.0,2022-01-11,EUR,NaN,12311807,6.616471e+04
2,971991639,3238,Moldova,South-Region,"82342,02",I200,3260,2022-01-01,110019,NR01,960984659,6749346.0,2022-01-12,EUR,93.0,12118758,5.671719e+06
3,754349803,3911,United Arab Emirates,South-Region,"1471,24",N000,3290,2022-01-01,153013,SR02,925857642,140554.0,2022-01-06,EUR,93.0,1210499770,1.181126e+05
4,930253442,2381,Greece,South-Region,"0,00",N000,3290,2022-01-01,160020,SR01,947942786,0.0,2022-01-06,EUR,64.0,1210351400,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101920,853605710,2498,Germany,South-Region,"0,00",NaN,4260,2022-06-01,74357,NR02,946056501,441519.0,2022-06-01,SGD,NaN,1210331804,5.886920e+05
1101921,998890898,4509,Armenia,South-Region,"0,00",NaN,4260,2022-06-01,84052,NR04,894775488,0.0,2022-06-01,SGD,NaN,1210331804,0.000000e+00
1101922,983330221,3951,Nepal,South-Region,"0,00",NaN,4260,2022-06-01,85322,NR01,909729781,0.0,2022-06-01,SGD,NaN,1210331811,0.000000e+00
1101923,926668029,3235,Panama,South-Region,"0,00",NaN,4260,2022-06-01,90538,SR04,940836817,0.0,2022-06-01,SGD,NaN,1210331811,0.000000e+00
1101924,921701000,2968,Nicaragua,South-Region,"0,00",NaN,4260,2022-06-01,113357,NR02,754385277,441519.0,2022-06-01,SGD,NaN,1210331804,5.886920e+05

In [126]:
num_zero = df[df['amount_in_usd'] == 0].shape[0]
print("Number of records with amount_in_usd as 0:", num_zero)

Number of records with amount_in_usd as 0: 237821

In [127]:
df["unique_cust_id"] = df["CUSTOMER_NUMBER"] + df["COMPANY_CODE"]
print(df)

         CUSTOMER_ORDER_ID  SALES_ORG      DISTRIBUTION_CHANNEL      DIVISION  \
0                946851639       3537  United States of America  South-Region
1                963432061       3449                Martinique  South-Region
2                971991639       3238                   Moldova  South-Region
3                754349803       3911      United Arab Emirates  South-Region
4                930253442       2381                    Greece  South-Region
...                    ...        ...                       ...           ...
1101920          853605710       2498                   Germany  South-Region
1101921          998890898       4509                   Armenia  South-Region
1101922          983330221       3951                     Nepal  South-Region
1101923          926668029       3235                    Panama  South-Region
1101924          921701000       2968                 Nicaragua  South-Region

        RELEASED_CREDIT_VALUE PURCHASE_ORDER_TYPE  COMPANY_CODE  \
0                        0,00                1000          3220
1                        0,00                1000          3220
2                    82342,02                I200          3260
3                     1471,24                N000          3290
4                        0,00                N000          3290
...                       ...                 ...           ...
1101920                  0,00                 NaN          4260
1101921                  0,00                 NaN          4260
1101922                  0,00                 NaN          4260
1101923                  0,00                 NaN          4260
1101924                  0,00                 NaN          4260

        ORDER_CREATION_DATE  ORDER_CREATION_TIME CREDIT_CONTROL_AREA  \
0                2022-01-01                43012                SR02
1                2022-01-01                43114                NR03
2                2022-01-01               110019                NR01
3                2022-01-01               153013                SR02
4                2022-01-01               160020                SR01
...                     ...                  ...                 ...
1101920          2022-06-01                74357                NR02
1101921          2022-06-01                84052                NR04
1101922          2022-06-01                85322                NR01
1101923          2022-06-01                90538                SR04
1101924          2022-06-01               113357                NR02

         SOLD_TO_PARTY  ORDER_AMOUNT REQUESTED_DELIVERY_DATE ORDER_CURRENCY  \
0            756141537       95461.0              2022-01-13            EUR
1            798847812       78736.0              2022-01-11            EUR
2            960984659     6749346.0              2022-01-12            EUR
3            925857642      140554.0              2022-01-06            EUR
4            947942786           0.0              2022-01-06            EUR
...                ...           ...                     ...            ...
1101920      946056501      441519.0              2022-06-01            SGD
1101921      894775488           0.0              2022-06-01            SGD
1101922      909729781           0.0              2022-06-01            SGD
1101923      940836817           0.0              2022-06-01            SGD
1101924      754385277      441519.0              2022-06-01            SGD

         CREDIT_STATUS  CUSTOMER_NUMBER  amount_in_usd  unique_cust_id
0                  NaN         12311807   8.021933e+04        12315027
1                  NaN         12311807   6.616471e+04        12315027
2                 93.0         12118758   5.671719e+06        12122018
3                 93.0       1210499770   1.181126e+05      1210503060
4                 64.0       1210351400   0.000000e+00      1210354690
...                ...              ...            ...             ...
1101920            NaN       1210331804   5.886920e+05      1210336064
1101921            NaN       1210331804   0.000000e+00      1210336064
1101922            NaN       1210331811   0.000000e+00      1210336071
1101923            NaN       1210331811   0.000000e+00      1210336071
1101924            NaN       1210331804   5.886920e+05      1210336064

[1074783 rows x 18 columns]